
/*********************************/
/* VARIABLES */

$yellow: #e6ae19;
$yellowDarker: #c79100;
$black2:#221613;
$black:#030303;
$green: #0b3428;

$titleFamily: 'Averia Serif Libre', cursive;
$titleColor: $yellow; 
$textColor: #666; 
$textFamily: "Trebuchet MS", Arial, Helvetica, sans-serif;

$grey: #F0F0F0;
$white: #fff;
$white2: #fbfbfb;

$paddingViews:  1.2rem 0rem;
$headerHeight: 10.3rem;
$headerHeightM: 9rem;

$indexTop:100;
$indexMedium:90;
$indexLow:80;






